.head{
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
}
.header{
    margin: 0 auto;
    padding-top: 3rem;
}
.card{
    height: 9rem;
    width: 12rem;
    border: 4px solid #e1e1dc;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-head{
    font-size: 1rem;
    font-weight: 900;
    color: var(--text-color);
    text-align: center;
}
.catd-txt{
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
}
.card-container{
    display: flex;
    gap: 30px;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}